
 body{
   font-family: 'Robot', sans-serif;
   height:auto;
   width:100%;

}

.header {
 padding: 20px 0;
 width:100%;
 height:auto;
 max-width:1000px;
 box-sizing:border-box;
 
 
}

header.row,
footer.row {
display:flex;
align-items:center;

}

header h1 {
 font-weight: 700;
 padding: 0 20px;
 margin: 0;
 color:#000000; 

 
 

 }
 
 header nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
  margin-bottom: 0;
  list-style: none;
  
 
  
    }
 
 header p {
  color:#000000;
  margin:0;
  padding: 0 20px;
  
  
}

 
 
 .jumbotron {
 display:flex;
 align-items: center;
 background-image:
 url('https://www.imageupload.co.uk/images/2017/04/07/cubos.jpg');
 background-size: cover;
 color: #2f4f4f;
 width:100%;
 text-shadow: 0.25px 0.25px 0.25px #ffffff;
 box-sizing:border-box;

 
}
 
 .jumbotron h2 {
 font-size: 40px;	 
 margin: 0;
 color:#1a1a1a;
 opacity:0.5;
 box-sizing:border-box;
}

.jumbotron h3 {
 margin: 0 0 20px;
 color:#1a1a1a;
 opacity:0.5;
 box-sizing:border-box;

}

section .row img {
margin: 0 0 30px;
width: 100%;
}

.col-md-6 {
 margin: 0 0 30px;
 
}

.btn.btn-primary {
border-radius: 2px;
border: 0px;
color: #0000cc;
text-shadow: none;
background-color:#FFFFFF;




}

.btn.btn-primary:hover {

color:#0000cc;
background-color: #FFFFFF; 
opacity:0.5;
 
}

.btn-secondary {
background-color:#FFFFFF;
color: #0000cc;
margin: 0 0 30px;
opacity:0.5;
 


}


footer {

font-size: 12px;
padding: 20px 0;

 

}

footer .col-sm-8 {

display: flex;
justify-content: flex-end;



}

footer ul {
list-style: none;
display:flex;
}

footer li img {
width: 32px;
height: 32px;
  

}
